h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-hero-col);
}

button {
  border: var(--primary-border);
  background-color: var(--primary-background-col);
  color: var(--primary-hero-col);
  cursor: pointer;
  border-radius: var(--border-radius-1);
}
